# markdown
**/*.md

# dependencies
**/node_modules

# production
**/build
**/dist

# docker data
docker

# vscode setting
.vscode
.husky
.git
.github

# test
test

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
